<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{{ .Site.Params.pureCssDir }}/base-min.css">
        <link rel="stylesheet" href="css/fernglen.css">
    </head>

    <body>

        <header>
            <p>[ L O G O ]</p>
        </header>
        
        <nav>
            <ul class="sidemenu">
                {{- $currentPage := . }}
                {{- range .Site.Menus.main }}
                <li class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}selected{{else}}unselected{{end}}"><a href=".{{.URL}}">{{ .Name }}</a></li>
                {{- end }}
            </ul>
        </nav>

        <main>
            <article>
                {{ if ne .Title "" -}}
                <h1>{{ .Title }}</h1>
                {{- if isset .Params "subtitle"}}<p class="subtitle">{{ .Params.subtitle }}</p>{{ end -}}
                {{ end }}
                
                {{ .Content }}
            </article>
        </main>
    </body>

</html>
